.commentContainer {
    padding: 20px;
    margin: 25px 25px 0;
    border-radius: 5px;
    background-color: #f8f8ff;
}

.author {
    color: black;
    margin: 0 20px 2px 0;
    font-size: 12px;
    font-weight: bold;
}

.text {
    color: grey;
    font-size: 15px;
    margin: 10px 20px 0 0;
}

.commentOptions {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.reply {
    padding: 2px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    color: gray;
    margin-right: 20px;
    background-color: white;
}

.delete {
    padding: 2px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #ffcbd1;
    margin-right: 20px;
}

.cancel {
    margin: 5px 0;
    border-radius: 5px;
    font-size: 14px;
    background-color: #ffcbd1;
}

.comments {
    margin: 5px;
    font-size: 14px;
    margin-right: 4px;
    border-radius: 5px;
    background-color: #ddead1;
}

.edit {
    padding: 2px 4px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #ddead1;
    margin-right: 20px;
}

.innerContainer {
    display: flex;
    font-size: 12px;
    margin-bottom: 8px;
}

.plainText {
    text-align: center;
    font-size: 24px;
    margin: 20px;
}

.newComment {
    text-align: center;
    margin: 10px;
}

.detailsContainer {
    width: 100%;
}