.commentContainer {
    padding: 20px;
    margin: 25px 25px 0;
    border-radius: 5px;
    background-color: #f8f8ff;
}

.author {
    color: black;
    margin: 0 20px 2px 0;
    font-size: 12px;
    font-weight: bold;
    width: 20%;
}

.text {
    color: grey;
    font-size: 15px;
    margin: 10px 20px 0 0;
}

.commentOptions {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.likeIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.likeIconContainer img {
    margin-right: 10px;
}

.reply {
    padding: 2px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    color: gray;
    margin-right: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reply img {
    margin-right: 6px;
}


.delete {
    padding: 2px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.delete img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.cancel {
    margin: 5px 0;
    border-radius: 5px;
    font-size: 14px;
    background-color: #ffcbd1;
}

.comments {
    margin: 5px;
    font-size: 14px;
    margin-right: 4px;
    border-radius: 5px;
    background-color: #ddead1;
}

.edit {
    padding: 2px 4px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.edit img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.innerContainer {
    display: flex;
    font-size: 12px;
    margin-bottom: 8px;
}

.plainText {
    text-align: center;
    font-size: 24px;
    margin: 20px;
}

.newComment {
    text-align: center;
    margin: 10px;
}

.detailsContainer {
    width: 90%;
}

@media only screen and (max-width: 576px) {
    .commentContainer {
        width: 100%;
        margin: 10px 0;
    }

    .detailsContainer {
        width: 60%;
    }
}